:root {
  --blue: rgba(74, 105, 226, 1);
  --yellow: rgba(255, 165, 47, 1);
  --white: rgba(255, 255, 255, 1);
  --fa-white: rgba(250, 250, 250, 1);
  --gray: rgba(231, 231, 227, 1);
  --gray-main: rgba(112, 112, 110, 1);
  --dark-gray: rgba(35, 35, 33, 1);
  --purewhite: rgba(255, 255, 255, 1);
  --rubik-12px-font-family: "Rubik", Helvetica;
  --rubik-12px-font-weight: 600;
  --rubik-12px-font-size: 12px;
  --rubik-12px-letter-spacing: 0px;
  --rubik-12px-line-height: normal;
  --rubik-12px-font-style: normal;
  --rubik-14px-font-family: "Rubik", Helvetica;
  --rubik-14px-font-weight: 600;
  --rubik-14px-font-size: 14px;
  --rubik-14px-letter-spacing: 0px;
  --rubik-14px-line-height: normal;
  --rubik-14px-font-style: normal;
  --rubik-16px-font-family: "Rubik", Helvetica;
  --rubik-16px-font-weight: 600;
  --rubik-16px-font-size: 16px;
  --rubik-16px-letter-spacing: 0px;
  --rubik-16px-line-height: normal;
  --rubik-16px-font-style: normal;
  --rubik-20px-font-family: "Rubik", Helvetica;
  --rubik-20px-font-weight: 600;
  --rubik-20px-font-size: 20px;
  --rubik-20px-letter-spacing: 0px;
  --rubik-20px-line-height: normal;
  --rubik-20px-font-style: normal;
  --rubik-24px-font-family: "Rubik", Helvetica;
  --rubik-24px-font-weight: 600;
  --rubik-24px-font-size: 24px;
  --rubik-24px-letter-spacing: 0px;
  --rubik-24px-line-height: normal;
  --rubik-24px-font-style: normal;
  --rubik-32px-font-family: "Rubik", Helvetica;
  --rubik-32px-font-weight: 600;
  --rubik-32px-font-size: 32px;
  --rubik-32px-letter-spacing: 0px;
  --rubik-32px-line-height: normal;
  --rubik-32px-font-style: normal;
  --rubik-36px-font-family: "Rubik", Helvetica;
  --rubik-36px-font-weight: 600;
  --rubik-36px-font-size: 36px;
  --rubik-36px-letter-spacing: 0px;
  --rubik-36px-line-height: normal;
  --rubik-36px-font-style: normal;
  --rubik-48px-font-family: "Rubik", Helvetica;
  --rubik-48px-font-weight: 600;
  --rubik-48px-font-size: 48px;
  --rubik-48px-letter-spacing: 0px;
  --rubik-48px-line-height: normal;
  --rubik-48px-font-style: normal;
  --open-sans-semibold-10px-font-family: "Open Sans", Helvetica;
  --open-sans-semibold-10px-font-weight: 600;
  --open-sans-semibold-10px-font-size: 10px;
  --open-sans-semibold-10px-letter-spacing: 0px;
  --open-sans-semibold-10px-line-height: normal;
  --open-sans-semibold-10px-font-style: normal;
  --open-sans-semibold-12px-font-family: "Open Sans", Helvetica;
  --open-sans-semibold-12px-font-weight: 600;
  --open-sans-semibold-12px-font-size: 12px;
  --open-sans-semibold-12px-letter-spacing: 0px;
  --open-sans-semibold-12px-line-height: normal;
  --open-sans-semibold-12px-font-style: normal;
  --open-sans-semibold-14px-font-family: "Open Sans", Helvetica;
  --open-sans-semibold-14px-font-weight: 600;
  --open-sans-semibold-14px-font-size: 14px;
  --open-sans-semibold-14px-letter-spacing: 0px;
  --open-sans-semibold-14px-line-height: normal;
  --open-sans-semibold-14px-font-style: normal;
  --open-sans-semibold-16px-font-family: "Open Sans", Helvetica;
  --open-sans-semibold-16px-font-weight: 600;
  --open-sans-semibold-16px-font-size: 16px;
  --open-sans-semibold-16px-letter-spacing: 0px;
  --open-sans-semibold-16px-line-height: normal;
  --open-sans-semibold-16px-font-style: normal;
  --open-sans-semibold-20px-font-family: "Open Sans", Helvetica;
  --open-sans-semibold-20px-font-weight: 600;
  --open-sans-semibold-20px-font-size: 20px;
  --open-sans-semibold-20px-letter-spacing: 0px;
  --open-sans-semibold-20px-line-height: normal;
  --open-sans-semibold-20px-font-style: normal;
  --open-sans-semibold-24px-font-family: "Open Sans", Helvetica;
  --open-sans-semibold-24px-font-weight: 600;
  --open-sans-semibold-24px-font-size: 24px;
  --open-sans-semibold-24px-letter-spacing: 0px;
  --open-sans-semibold-24px-line-height: normal;
  --open-sans-semibold-24px-font-style: normal;
  --open-sans-semibold-32px-font-family: "Open Sans", Helvetica;
  --open-sans-semibold-32px-font-weight: 600;
  --open-sans-semibold-32px-font-size: 32px;
  --open-sans-semibold-32px-letter-spacing: 0px;
  --open-sans-semibold-32px-line-height: normal;
  --open-sans-semibold-32px-font-style: normal;
  --open-sans-semibold-36px-font-family: "Open Sans", Helvetica;
  --open-sans-semibold-36px-font-weight: 600;
  --open-sans-semibold-36px-font-size: 36px;
  --open-sans-semibold-36px-letter-spacing: 0px;
  --open-sans-semibold-36px-line-height: normal;
  --open-sans-semibold-36px-font-style: normal;
  --open-sans-semibold-40px-font-family: "Open Sans", Helvetica;
  --open-sans-semibold-40px-font-weight: 600;
  --open-sans-semibold-40px-font-size: 40px;
  --open-sans-semibold-40px-letter-spacing: 0px;
  --open-sans-semibold-40px-line-height: normal;
  --open-sans-semibold-40px-font-style: normal;
  --open-sans-regular-10px-font-family: "Open Sans", Helvetica;
  --open-sans-regular-10px-font-weight: 400;
  --open-sans-regular-10px-font-size: 10px;
  --open-sans-regular-10px-letter-spacing: 0px;
  --open-sans-regular-10px-line-height: normal;
  --open-sans-regular-10px-font-style: normal;
  --open-sans-regular-12px-font-family: "Open Sans", Helvetica;
  --open-sans-regular-12px-font-weight: 400;
  --open-sans-regular-12px-font-size: 12px;
  --open-sans-regular-12px-letter-spacing: 0px;
  --open-sans-regular-12px-line-height: normal;
  --open-sans-regular-12px-font-style: normal;
  --open-sans-regular-14px-font-family: "Open Sans", Helvetica;
  --open-sans-regular-14px-font-weight: 400;
  --open-sans-regular-14px-font-size: 14px;
  --open-sans-regular-14px-letter-spacing: 0px;
  --open-sans-regular-14px-line-height: normal;
  --open-sans-regular-14px-font-style: normal;
  --open-sans-regular-16px-font-family: "Open Sans", Helvetica;
  --open-sans-regular-16px-font-weight: 400;
  --open-sans-regular-16px-font-size: 16px;
  --open-sans-regular-16px-letter-spacing: 0px;
  --open-sans-regular-16px-line-height: normal;
  --open-sans-regular-16px-font-style: normal;
  --open-sans-regular-20px-font-family: "Open Sans", Helvetica;
  --open-sans-regular-20px-font-weight: 400;
  --open-sans-regular-20px-font-size: 20px;
  --open-sans-regular-20px-letter-spacing: 0px;
  --open-sans-regular-20px-line-height: normal;
  --open-sans-regular-20px-font-style: normal;
  --open-sans-regular-24px-font-family: "Open Sans", Helvetica;
  --open-sans-regular-24px-font-weight: 400;
  --open-sans-regular-24px-font-size: 24px;
  --open-sans-regular-24px-letter-spacing: 0px;
  --open-sans-regular-24px-line-height: normal;
  --open-sans-regular-24px-font-style: normal;
  --open-sans-regular-32px-font-family: "Open Sans", Helvetica;
  --open-sans-regular-32px-font-weight: 400;
  --open-sans-regular-32px-font-size: 32px;
  --open-sans-regular-32px-letter-spacing: 0px;
  --open-sans-regular-32px-line-height: normal;
  --open-sans-regular-32px-font-style: normal;
  --open-sans-regular-36px-font-family: "Open Sans", Helvetica;
  --open-sans-regular-36px-font-weight: 400;
  --open-sans-regular-36px-font-size: 36px;
  --open-sans-regular-36px-letter-spacing: 0px;
  --open-sans-regular-36px-line-height: normal;
  --open-sans-regular-36px-font-style: normal;
  --open-sans-regular-40px-font-family: "Open Sans", Helvetica;
  --open-sans-regular-40px-font-weight: 400;
  --open-sans-regular-40px-font-size: 40px;
  --open-sans-regular-40px-letter-spacing: 0px;
  --open-sans-regular-40px-line-height: normal;
  --open-sans-regular-40px-font-style: normal;
  --copy-body-1-font-family: "Inter", Helvetica;
  --copy-body-1-font-weight: 400;
  --copy-body-1-font-size: 16px;
  --copy-body-1-letter-spacing: 0.5px;
  --copy-body-1-line-height: normal;
  --copy-body-1-font-style: normal;
}
